@model IEnumerable<IE_Project_Final_WebApi.Models.C_Total_of_species__>

@{
    ViewBag.Title = "Animal Information";
    //Layout = "~/Views/animal_info/anima_info_Index.cshtml";
}

<h2>Animal Information</h2>


<div class="container">
    <div class="form-group">
        <h1>
            Information of animals found in Victoria
        </h1>
        <br />
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i> </span>
            <input type="text" id="Search" placeholder="Search for the animal or its Description" class="form-control" />
        </div>
    </div>
</div>

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th align="justify">Animal Name</th>
            <th align="justify">Common Name</th>
            <th align="justify">Description</th>
            <th align="justify">Picture</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Item in Model)
        {
            <tr class="Search">
                <td>@Item.animalSubType</td>
                <td>@Item.taxonomy_commonName</td>
                <td>@Item.briefId</td>
                <td><img src="@Item.url" height="80" width="80" /></td>
                <td>@Html.ActionLink("Details", "Details", new { id = Item.ID })</td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else
                {
                    $(this).show();
                }
            });
        });
    });
</script>
